# Default ignored files
/shelf/
/workspace.xml
venv/
.idea
MyQualtricsDownload
MyQualtricsDownload/
all_dfs.csv
brianBottom100.xlsx
dfOutput.csv
dfOutputUse.csv
out.csv
test.csv
test29.csv
train.csv
train29.csv
train29te.csv
trainbroken.csv
trainingData.csv
trevorbottom100.xlsx
*.csv
*.xlsx
*.xls
*.parquet